

<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
        (ngSubmit)="buscar()">
            <input class="form-control"
                type="text"
                name="termino"
                [(ngModel)]="termino"
                placeholder="Buscar por pais..."/>
        </form>
    </div>
</div>

<hr>


<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino de busqueda {{termino}}
</div>

<div *ngIf="!hayError" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Pais</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Pais</td>
                    <td>
                        <a href="">ver mas</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>